body {
    background-color: #ffeaa7;
    font-family: Arial;
    padding: 55px;
}

h1 {
    color: #e17055;
    font-size: 50px;
    text-align: center;
}

img {
    display: flex;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}